{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form class="needs_validation" id="change" action="/change" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old_password" id="old_password" placeholder="Current Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" id="password" placeholder="New Password" type="password" required>
        </div>
        <div class="form-group">
            <input name="confirmation" id="confirmation" placeholder="Confirm password" type="password" onkeyup='check();' required>
        </div>
        <div id='message'></div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>


    <script>
        var check = function() {
	        var pswd = document.getElementById("password");
	        var confirm = document.getElementById("confirmation");
            var message = document.getElementById("message");

            if (pswd.value == confirm.value) {
                message.style.color = 'green';
                message.innerHTML = 'All good';
            }
            else {
      	        message.style.color = 'red';
                message.innerHTML = 'Passwords do not match';
            }
        };
    </script>
{% endblock %}