{% extends "layout.html" %}

{% block title %}
    Hangman
{% endblock %}

{% block main %}
    <div>
        <pre><code>
            {{ stick_art(strikes) }}
        </code></pre>
    </div>

    <div>{{ check_list }}</div>

    <form class="needs_validation" action="/hangman" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus type="text" class="form-control" name="guess" placeholder="Your guess" required>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
