{% extends "layout.html" %}

{% block title %}
    Puzzle {{ game_id }}
{% endblock %}
{% block main %}
<style>
table { border-collapse: collapse; }
colgroup, tbody { border: solid medium blue;  }
td { border: solid thin; height: 3em; width 3em; padding: 0; }
</style>
    <div class="row">
        <form class="needs_validation" id="save" action="/sudoku" method="post">
            <table>
                {% for i in range(3) %}
                    <colgroup><col><col><col></colgroup>
                {% endfor %}

                {% set ns = namespace(cell=0) %}

                {% for i in range(3) %}
                <tbody>
                    {% for i in range(3) %}
                        <tr>
                            {% for a in range(9) %}
                            <td id="cell_{{ ns.cell }}"></td>
                            {% set ns.cell = ns.cell + 1 %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
            <button class="btn btn-primary" type="submit">Save/Submit Puzzle</button>
        </form>
    </div>

<script>
    function change_cells() {
        var cell_values = [];
        {% for i in puzzle %}
            cell_values.push({{ i.returnSolved() }});
        {% endfor %}

        var blank_values = [];
        {% for i in blanks %}
            console.log({{ i }});
            blank_values.push({{ i }});
        {% endfor %}

        for (var i = 0; i < 81; i++) {
            var cell = document.getElementById("cell_" + String(i));
            if (cell_values[i] == 0) {
                cell.innerHTML = `<input required type='text' name='cell_${String(i)}' size='1' value='${String(blank_values.shift())}'>`;
            } else {
                cell.innerHTML = cell_values[i]
            }
        }
    }

    window.onload = change_cells;
</script>
{% endblock %}
